body {
    background-color: #c3c3c3;
}

h1 {
    text-align: center;
}

#counter1,
#counter2 {
    text-align: center;
    font-size: 3rem;
}

.container {
    z-index: -1;
}

img {
    width: 100%;
    height: 100%
}

.counter1 {
    position: absolute;
    top: 2rem;
    left: 26rem;
}

.counter2 {
    position: absolute;
    left: 2rem;
    top: 2rem;
}

.admin {
    display: none;
}